<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/index.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prcurase-se</title>
</head>
<body>
    <main class="main-1">
        <div class="div-1">
            <h1 class="text">Procura-se Vivo ou morto</h1>
        </div>
    </main>
    <main class="main-1">
        <div class="div-1">
            <img class="img" src="{{ url_for('static', filename= 'scr/mendesleeo_-20220214-0001.jpg') }}">
        </div>
    </main>
</body>
</html>